# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual env
venv/
.venv/
env/

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Docker
pgdata/

# Flask migrations (keep versions/, ignore pycache)
migrations/__pycache__/
